@import "styles/assets/breakpoints.module";

.gamesBlock{
  background: #F5F5F7;
  margin-bottom: 180px;
  @include mobile{
    margin-bottom: 70px;
  }
}

.innerWrapper{
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 120px;
  @include desktop{
    padding-top: 58px;
  }
  @include tablet{
    padding-bottom: 97px;
  }
  @include mobile{
    padding: 54px 25px 52px 25px;
  }
}

.gamesHeader{
  font-weight: 700;
  font-size: 14px;
  line-height: 124%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 64px;
  @include mobile{
    margin-bottom: 39px;
  }
}

.games{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include desktop{
    flex-wrap: wrap;
    padding: 0 70px;
    gap: 0 20px;
  }
  @include tablet{
    padding: 0 70px;
    gap: 20px;
    justify-content: space-evenly;
  }
  @include mobile{
    padding: 0 20px;
  }
  p{
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
  }
}
